<footer id="footer">
    <div class="footer">
        <p>
            Copyright&copy; Michael Momotimi<% let currentYear = new Date().getFullYear(); %> <%= currentYear %>
        </p>
    </div>
</footer>