<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--CSS STYLES-->
    <link rel="stylesheet" href="/styles/header.css"> <!--header.css-->
    <link rel="stylesheet" href="/styles/layout.css"> <!--layout.css-->
    <link rel="stylesheet" href="/styles/footer.css"> <!--footer.css-->
    
    <title>blublog</title>
</head>
<body>
    <%- include('partials/header.html') %>
    
    <main id="main-contents">
        <div class="main">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde culpa nam neque. Enim facere iure eveniet molestiae blanditiis illum fugiat explicabo eos qui, obcaecati ipsam repudiandae, inventore laboriosam dolore autem!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ducimus tempora doloremque distinctio, voluptates, accusantium magnam voluptatibus esse laudantium quo sit est doloribus provident ea possimus temporibus corporis illo ipsum.
            </p>
        </div>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>